#main p {
	margin-top: 15px;
	margin-bottom: -15px;
	font-size: 1.2rem;
}

#main input {
	margin-top: 30px;
}

#main li:first-child {
	padding-top: 25px;
}

#main li {
	margin: 0 !important;
	padding: 10px 0 0 0;
}