.card {
    margin-bottom: 15px;
}

.badge {
    font-size: 1rem;
}

table {
	width: 100%;
}

table, tr, td {
	border: 1px solid #000;
}

table td:first-child {
	min-width: 200px;
	max-width: 300px;
	padding: 0 15px;
	/* background-color: #c0c0c0; */
}

table td:not(:first-child) {
	padding: 15px;
	text-align: center;
}