{% extends "main.html" %}

{% block cont %}

<style>

	.card {
		margin-bottom: 15px;
	}

	.badge {
		font-size: 1rem;
	}

</style>

<br><hr><br>

<canvas id="myChart"></canvas>
<script type="text/javascript" charset="utf-8">
	var ctx = document.getElementById('myChart').getContext('2d');
	var chart = new Chart(ctx, {
		type: 'line',

		data: {
			labels: [{% for i in timeline %}"{{ i.time }}",{% endfor %}],
			datasets: [{
				label: "Обсуждаемость",
				// backgroundColor: 'rgb(255, 204, 0)',
				borderColor: 'rgb(204, 153, 0)',
				data: [{% for i in timeline %}{{ i.count }},{% endfor %}],
			}]
		},

		options: {},
	});
</script>

<br><br>

<span class="badge badge-primary">
	Сообщений: {{ len(cont) }}
</span>

<br><br><hr><br>

{% for i in cont %}

<div class="card">
	<div class="card-body">

	<h5><b>{{ i.source.name }}</b> ({{ i.source.dialogs }} / {{ i.source.id }})</h5>
	
	<!-- #{{ i.id }} &nbsp; | &nbsp; {{ i.time }} &nbsp; | &nbsp; {{ i.views }} просмотров</h6> -->
	<span class="badge badge-success">
		#{{ i.id }}
	</span>
	<span class="badge badge-success">
		{{ i.time }}
	</span>
	<span class="badge badge-success">
		{{ i.views }} просмотров
	</span>

	<br>
	{{ i.cont }}

	</div>
</div>

{% endfor %}

{% endblock %}