astroid==2.3.3
boto==2.49.0
boto3==1.10.40
botocore==1.13.40
certifi==2019.11.28
chardet==3.0.4
Click==7.0
DAWG-Python==0.7.2
dicttoxml==1.7.4
docopt==0.6.2
docutils==0.15.2
Flask==1.1.1
Flask-Cors==3.0.8
Flask-SocketIO==3.3.2
gensim==3.8.1
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
jmespath==0.9.4
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
nltk==3.4.5
numpy==1.17.4
Pillow==6.2.1
pyaes==1.6.1
pyasn1==0.4.8
pylint==2.4.4
pymongo==3.9.0
pymorphy2==0.8
pymorphy2-dicts==2.4.393442.3710985
python-dateutil==2.8.0
python-engineio==3.5.1
python-socketio==3.1.2
requests==2.22.0
rsa==4.7
s3transfer==0.2.1
scipy==1.4.0
six==1.13.0
smart-open==1.9.0
Telethon==0.19.1.6
typed-ast==1.4.0
urllib3==1.25.7
Werkzeug==0.16.0
wrapt==1.11.2
