astroid==2.3.3
Click==7.0
dicttoxml==1.7.4
Flask==1.1.1
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
pyaes==1.6.1
pyasn1==0.4.8
pylint==2.4.4
rsa==4.0
six==1.13.0
Telethon==0.19.1.6
typed-ast==1.4.0
Werkzeug==0.16.0
wrapt==1.11.2
